body{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
	/* text-transform: uppercase; */
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 1rem 0 0;
}

ul>li {
	padding: 0;
	list-style: none;
}

/* all hyperlink underlining */
a.all-links {
	color: #506987;
	cursor: pointer;
}

a.all-links:hover {
	text-decoration: none;
}

.all-links {
	display: inline-block;
}

.all-links:after {
	content: '';
	margin-top: -5px;
	width: 0px;
	height: 2px;
	display: block;
	background: tomato;
	transition: all .25s linear;
}

.all-links:hover:after {
	width: 100%;
}

@media (max-width: 645px) {
	.all-links:hover {
		color: tomato;
	}
	.all-links:after {
		display: none;
	}
}

/* --------------------------------------------------------*/



.clip {
	/* mix-blend-mode: overlay; */
	/* clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); */
	/* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); */
	/* clip-path: polygon(0 50%, 100% 0, 100% 100%); */
	/* transition-delay: .20s; */
	border: 2px solid #222;
	width: 10%;
}

.clip:hover {
	/* mix-blend-mode: overlay;
	clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(100% 50%, 0 0, 0 100%); */
	box-shadow: 0px 0px 5px #506987;
	/* width: 10%; */
}

@supports (display: grid) {
	

	/* WORK */
	/* .container {
		display: grid;
		margin: 0 auto;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-gap: .5rem;
	} */
	.work-items{
		display: grid;
		margin: 3%;
		grid-template-columns: 4fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: .5rem;
	}
	.col-two-item {
		display: grid;
		margin: auto;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr;
		grid-gap: .5rem;
		border-bottom: 1px solid #ccc;
		padding: 10px;
	}

	.col-two-item img {
		margin: 0 20px;
		width: 8vw;
	}

	.col-two-item .item-group {
		width: 60vw;
		align-self: center;
	}
	.col-one{
		border-right: 1px dotted #ccc;
	}

	.item-group h4 {
		font-family: 'Source Sans Pro', sans-serif;
		color: #222;
		margin-block-start: 0;
		margin-block-end: 0;
	}

	.item-group .description {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		color: #999;
	}
	@media (max-width: 645px) {
		.work-items{
			display: block;
		}
		.col-one{
			border-right: none;
			width: 100%;
		}
	}
}